body {font-size: 20px; font-family: sans-serif;}
h1 {font-family: 'Luckiest Guy', cursive; font-size: 55px; margin: 10px 0;}
input {font-size: 20px; margin: 10px 0; width: 150px;}
button {font-size: 20px; border-radius: 20px; padding: 10px; background: lawngreen; cursor: pointer; position: absolute; left: 240px;}
#gameDiv {position: relative;}
span {font-size: 20px;}
.bugOuter {width: 50px; height: 90px; border-radius: 25px / 10px; overflow: hidden; position: absolute;}
.bugHole {width: 50px; height: 20px; border-radius: 25px / 10px; top: 70px; position: relative; background: #333;}
.bug {width: 50px; height: 60px;
    background-size: 50px; background-repeat: no-repeat; position: relative;
    top: 70px;
}
.splat {opacity: 0.4;}
.popup {animation-duration: 1000ms; animation-name: popup; animation-iteration-count: 1;}
.hideagain {animation-duration: 1000ms; animation-name: hideagain; animation-iteration-count: 1;}

@keyframes popup {
    from {
      top: 70px; 
    }

    to {
        top: 0;
    }
}

@keyframes hideagain {
  from {
    top: 0; 
  }

  to {
      top: 70px;
  }
}